{% extends 'base.html' %}

{% block content %}
    <div style="height: 20rem; border-radius: 1rem;
    margin: 2rem; text-align:center; font-family: 'Raleway', 'sans-serif'; font-size: 2rem;">
        <h2>INPUT TEST</h2>

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="input-test">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>
        </form>
        <h1 class="text_output">
            {{text}}
        </h1>

    </div>
{% endblock %}