{% extends "suggest/index.html" %}

{% block detail %}
  <main class="flex-1 bg-cover bg-center text-white object-cover" style="background-image: url('https://i.ibb.co/d0Kn4qN/background.webp');">
    <div class="container mx-auto my-auto bg-white p-6 rounded-lg shadow text-black">
      <h2 class="text-xl font-bold mb-4">{{ project.title }}</h2>
      <p class="mb-4 text-gray-700">{{ project.produce }}</p>
      <h3 class="font-semibold text-black">Keywords:</h3>
      <ul class="list-disc pl-5">
        {% for keyword in project.keywords %}
          <li>{{ keyword }}</li>
        {% endfor %}
      </ul>
      <p class="text-gray-600 mt-4 text-sm">Created at: {{ project.created_at }}</p>
      <a href="{% url 'list_projects' %}" class="mt-6 inline-block text-blue-500 hover:underline">Back to Projects</a>
    </div>
  </main>

  {% comment %} <footer class="bg-gray-800 text-white text-center py-4">
    <p>© 2024 AI Suggest. All rights reserved.</p>
  </footer> {% endcomment %}

  {% endblock %}