{% extends 'suggest/index.html' %}

{% block todoApp %}
    <!--주 제목-->
    <div class="mainTitle">
    <h1 class="font-mono text-4xl font-bold text-center text-black mb-6">ToDoList</div>
  
    <!--할일 정보 입력하는 곳-->
    <form action="{% url 'todoListApp:add_todo' %}" method="post" class="addToDo">
        {% csrf_token %}
        <input type="text" name="title" class="text-gray-600 addToDoInfo" placeholder="Enter your to-do">
    </form>
    
    <!--투두리스트-->
    <div class="list">
        <!--투두리스트 ToDo-->
        <div class="activeToDo">
            <div class="activeTitle">ToDo</div>
            <ul type="none" class="listActive">
                {% for todo in todos %}
                <li data-id="{{ todo.id }}">
                    {{ todo.title }}
                    <button class="markDoneButton">Done</button>
                    <button class="deleteTodoButton">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!--투두리스트 Done-->
        <div class="doneToDo">
            <div class="doneTitle">Done</div>
            <ul type="none" class="listDone">
                {% for done_todo in done_todos %}
                <li data-id="{{ done_todo.id }}">
                    {{ done_todo.title }}
                    <button class="deleteTodoButton">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Mark as done
            $('.markDoneButton').click(function(e) {
                e.preventDefault();
                var li = $(this).closest('li');
                var todoId = li.data('id');

                $.ajax({
                    type: 'POST',
                    url: '{% url "todoListApp:mark_done" 0 %}'.replace('0', todoId),
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.status === 'success') {
                            li.remove();
                            $('.listDone').append('<li data-id="' + todoId + '">' + li.html() + '</li>');
                            $('.listDone li[data-id="' + todoId + '"] .markDoneButton').remove();
                        }
                    }
                });
            });

            // Delete todo
            $(document).on('click', '.deleteTodoButton', function(e) {
                e.preventDefault();
                var li = $(this).closest('li');
                var todoId = li.data('id');

                $.ajax({
                    type: 'POST',
                    url: '{% url "todoListApp:delete_todo" 0 %}'.replace('0', todoId),
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.status === 'success') {
                            li.remove();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
