{% extends 'todoListApp/base.html' %}

{% block content %}

    <!--주 제목-->
    <div class="mainTitle">ToDoList</div>
  
    <!--할일 정보 입력하는 곳-->
    <form action="#" class="addToDo" onsubmit="return addActiveList();">
    <input type="text" class="addToDoInfo" placeholder="Enter your to-do">
    </form>
    
    <!--투두리스트-->
    <div class="list">
      <!--투두리스트Active-->
      <div class="activeToDo">
        <div class="activeTitle">Active</div>
        <ul type="none" class="listActive">
        </ul>
      </div>

      <!--투두리스트Done-->
      <div class="doneToDo">
        <div class="doneTitle">Done</div>
        <ul type="none" class="listDone">
        </ul>
      </div>
    </div>
{% endblock %}