{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <title>Plan:Z | Dashboard</title>

    <style>
    body{
        display: grid;
        grid-template-columns: 250px 1fr 400px;
        height: 100vh;
    }

    .weekly {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        width: 100%;
    }

    .line {
        flex-shrink: 0;
        width: 5px;
        height: 100%;
        background-color: #000;
    }

    .title h5 {
        margin: 0 10px;
        flex-grow: 1;
    }

    .title i {
        cursor: pointer;
        margin-left: 10px;
    }
    
    </style>
</head>

<body>
    <section class="left-section">
        <div class="logo">
            <button class="menu-btn" id="menu-close">
                <i class='bx bx-log-out-circle'></i>
            </button>
            <img src="{% static 'assets/logo.png' %}">
            <a href="{% url 'dashboard' %}">Plan:Z</a>
        </div>
        <div class="sidebar">
            <div class="item" id="active">
                <i class='bx bx-home-alt-2'></i>
                <a href="{% url 'dashboard' %}">Overview</a>
            </div>
            <div class="item">
                <i class='bx bx-grid-alt'></i>
                <a href="{% url 'calendar' %}">Calendar</a>
            </div>
            <div class="item">
                <i class='bx bx-folder'></i>
                <a href="{% url 'todoListApp:index' %}">ToDoList</a>
            </div>
            <div class="item">
                <i class='bx bx-message-square-dots'></i>
                <a href="{% url 'accountbook' %}">AccountBook</a>
            </div>
            <div class="item">
                <i class='bx bx-cog'></i>
                <a href="{% url 'admin:index' %}">Setting</a>
            </div>
        </div>
    </section>
    <main>
        <header>
            <button class="menu-btn" id="menu-open">
                <i class='bx bx-menu'></i>
            </button>
            <h5>Hello, welcome back!</h5>
        </header>
        <div class="separator">
            <div class="info">
                <h3>My Events</h3>
                <a href="{% url 'calendar' %}">View All</a>
            </div>
        </div>
        <div class="analytics">
            {% if events %}
                {% for event in events %}
                <div class="item">
                    <div class="progress">
                        <div class="info">
                            <h5>{{ event.title }}</h5>
                            <p>D-{{ event.days_left }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="item">
                    <div class="progress">
                        <div class="info">
                            <h5>No Event</h5>
                            <h6><a href="{% url 'calendar' %}">click here to add ></a></h6>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="separator">
            <div class="info">
                <h3>AccountBook</h3>
                <a href="{% url 'accountbook' %}">View All</a>
            </div>
        </div>
        <div class="planning">
            <div class="item">
                <div class="left">
                    <div class="icon">
                        <i class='bx bx-book-alt'></i>
                    </div>
                    <div class="details">
                        <h5>오늘의 수입 지출</h5>
                        <p>수입: {{ daily_summary.income|floatformat:0|intcomma }}</p>
                        <p>지출: {{ daily_summary.expense|floatformat:0|intcomma }}</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="left">
                    <div class="icon">
                        <i class='bx bx-book-alt'></i>
                    </div>
                    <div class="details">
                        <h5>이번 달 수입 지출</h5>
                        <p>수입: {{ monthly_summary.income|floatformat:0|intcomma }}</p>
                        <p>지출: {{ monthly_summary.expense|floatformat:0|intcomma }}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <aside class="right-section">
        <div class="top">
        </div>
        <div class="todo-box">
            <div class="separator">
                <h4>ToDoList</h4>
            </div>
            <div class="weekly">
                {% for todo in todos %}
                <div class="title" data-id="{{ todo.id }}">
                    <div class="line" style="margin: 0 5px; float: left;"></div>
                    <h5>{{ todo.title }}</h5>
                    <i class="fa-sharp fa-solid fa-check"></i>
                    <i class="fa-sharp fa-solid fa-x"></i>
                </div>
                {% endfor %}
            </div>
        </div>

        {% comment %} <div class="done-box">
            <div class="separator">
                <h4>Done List</h4>
            </div>
            <div class="weekly">
                {% for done_todo in done_todos %}
                <div class="title" data-id="{{ done_todo.id }}">
                    <div class="line"></div>
                    <h5>{{ done_todo.title }}</h5>
                    <i class="fa-sharp fa-solid fa-x"></i>
                </div>
                {% endfor %}
            </div>
        </div> {% endcomment %}
    </aside>


    <script>
        $('#currentDate').val(new Date().toISOString().substring(0, 10));

        $('.fa-check').click(function() {
            var todoId = $(this).closest('.title').data('id');
            $.ajax({
                type: 'POST',
                url: '{% url "todoListApp:mark_done" 0 %}'.replace('0', todoId),
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        $('[data-id="' + todoId + '"]').remove();
                    }
                }
            });
        });
    
        $('.fa-x').click(function() {
            var todoId = $(this).closest('.title').data('id');
            $.ajax({
                type: 'POST',
                url: '{% url "todoListApp:delete_todo" 0 %}'.replace('0', todoId),
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        $('[data-id="' + todoId + '"]').remove();
                    }
                }
            });
        });
    </script>
</body>

</html>
